<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">Vector Bay</h1>
            <P class="home-big-text">Draw your route, deliver the cargo.</P>
            <p class="home-text">Vector Bay is a dockside puzzle game where every delivery depends on the path you draw.</p>
            <a class="home-link" href="#features">
                <p>Chart Your Course</p>
            </a>
        </div>
    </div>
</section>