body{
  background: #0d1f3c;
  font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #e8eff7;
}
h2{
  font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.2;
    color: #c4e0eb;
    margin-bottom: 64px;
}
@media only screen and (min-width: 1440px) {
  body{
    font-size: 18px;
  }
  h2{
    font-size: 64px;
    margin-bottom: 80px;
  }
}