@import url('./styles.css');

.background {
    text-align: left;
    background: #e8eff7;
    color: #0d1f3c;
}

.privacy-title {
    font-family: "Barlow Condensed", sans-serif;
        font-weight: 600;
        font-size: 48px;
        line-height: 1.2;
        color: #0d1f3c;
    margin-top: 70px;
    margin-bottom: 30px;

}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
font-family: "Inter", sans-serif;
font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.policy-link {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 30px;

}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;

}

.text {
    margin-top: 20px;
    margin-bottom: 20px;
}



.policy-span {
    font-weight: 700;
}

@media only screen and (min-width: 1440px) {
    .policy-container {
        padding-left: 170px;
        padding-right: 160px;
    }
.privacy-title{
    font-size: 64px;
}
.policy-subtitle{
    font-size: 28px;
}
}